@import '@fontsource/inter';

// Farben
$bg1: #f8f8f8;
$primary: #137fad;
$primary-light: #358cb1;
$white: #ffffff;

// Abstände
$spacing-xs: 8px;
$spacing-md: 24px;

// Höhen
$header-height: 64px;
$header-height-dense: 48px;

// Schatten-Basis-Parameter
$shadow-opacity-1: 0.08;
$shadow-opacity-2: 0.14;
$shadow-step: 0.01; // Erhöhung der Opazität pro Schritt

// CSS Variablen für Schatten generieren
@mixin generate-shadows {
  @for $i from 1 through 24 {
    $opacity1: $shadow-opacity-1 + ($i - 1) * $shadow-step;
    $opacity2: $shadow-opacity-2 + ($i - 1) * $shadow-step;
    $offset: $i * 2 - 1;
    $blur1: $i * 4;
    $blur2: if($i > 1, $i * 2 - 2, $i * 2);

    --q-shadow-#{$i}: 0px #{$offset}px #{$blur1}px 0px rgba(0, 0, 0, #{$opacity1}),
    0px #{$offset}px #{$blur2}px 0px rgba(0, 0, 0, #{$opacity2});
  }
}

body {
  font-family: 'Inter var', sans-serif;
  background: $bg1;

  // Schatten-Variablen generieren
  @include generate-shadows;
}

.q-header {
  color: $primary;
  background: rgba($white, 0);

  .q-toolbar {
    min-height: $header-height;
    padding: 0 $spacing-md;

    &.q-toolbar--dense {
      min-height: $header-height-dense;
    }

    .q-btn, .q-icon, .q-avatar {
      margin-right: $spacing-xs;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.q-drawer {
  color: $primary;
  background: rgba($white, 0);

  &.q-drawer--mini {
    color: $primary-light;
  }
}

.q-card {
  box-shadow: var(--q-shadow-1);
}