@import '@fontsource/inter';

// Farben und globale Variablen
:root {
  --bg1: #f8f8f8;
  --primary: #137fad;
  --primary-light: #358cb1;
  --white: #ffffff;
}

// Abstände und Höhen als SCSS-Variablen
$spacing-xs: 8px;
$spacing-md: 24px;
$header-height: 48px;
$header-height-dense: 48px;

// Schatten-Parameter
$shadow-opacity-1: 0.08;
$shadow-opacity-2: 0.14;
$shadow-step: 0.01; // Erhöhung der Opazität pro Schritt

// Mixin für Schatten
@mixin generate-shadows {
  @for $i from 1 through 24 {
    $opacity1: $shadow-opacity-1 + ($i - 1) * $shadow-step;
    $opacity2: $shadow-opacity-2 + ($i - 1) * $shadow-step;
    $offset: $i * 2 - 1;
    $blur1: $i * 4;
    $blur2: if($i > 1, $i * 2 - 2, $i * 2);

    --q-shadow-#{$i}: 0px #{$offset}px #{$blur1}px 0px rgba(0, 0, 0, #{$opacity1}),
    0px #{$offset}px #{$blur2}px 0px rgba(0, 0, 0, #{$opacity2});
  }
}

body {
  font-family: 'Inter var', sans-serif;
  background: var(--bg1);
  @include generate-shadows;
}

.q-header {
  color: var(--primary);
  background: rgba(var(--white), 0);

  .q-toolbar {
    min-height: $header-height;
    padding: 0 $spacing-md;
  }
}

.q-drawer {
  color: var(--primary);
  background: rgba(var(--white), 0);

  &.q-drawer--mini {
    color: var(--primary-light);
  }
}

.q-card {
  box-shadow: var(--q-shadow-1);
}

/* Überschreibe Standard-Überschriften-Größen */
.q-markdown-content h1 {
  font-size: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}

.q-markdown-content h2 {
  font-size: 1.25em;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}

.q-markdown-content h3 {
  font-size: 1.1em;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}
